* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-principal {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark{
    background: #252329;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 40px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.nav-container-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 130.174px;
    height: 18px;
}

.modal-nombre-foto {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}

.foto-perfil {
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.modal-nombre-foto>h2 {
    color: var(--gray-1, #333);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.42px;
}

.flechita{
    cursor: pointer;
}

.nav-bar {
    margin-top: 230px;
    margin-left: -22px;
    position: absolute;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}

.close{
    display: none;
}

.nav-bar>p {
    color: var(--gray-2, #4F4F4F);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    height: 40px;
    cursor: context-menu;
}

.nav-bar>p:hover {
    border-radius: 8px;
    background: #F2F2F2;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
}

.profile {
    color: #4F4F4F;
}
a {
    text-decoration: none;
    display: contents;
}

.nav-bar>button {
    color: var(--red, #EB5757);
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    border-style: none;
    background: transparent;
    display: flex;
}

.nav-bar>button>p {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 10px;
    height: 40px;
}

.nav-bar> button>p:hover {
    border-radius: 8px;
    background: #F2F2F2;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
}

.nav-bar>button>p>svg {
    width: 32px;
    height: 20px;
}

.nav-container-inferior {
    height: 110px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-containerInferior {
    height: 80px;
    width: 65%;
    display: flex;
    align-items: center;
}

.back {
    display: flex;
    align-items: flex-end;
    color: #2D9CDB;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.63px;
}

.nav-container-inferior>h1 {
    color: #000;
    font-family: Noto Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.26px;
}

.nav-container-inferior>p {
    color: #000;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.63px;
}

main {
    width: 800px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
}

.section-up {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}

input {
    width: 416.932px;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #828282;
    padding: 0 20px;
}

input.input {
    width: 416.932px;
    height: 91.578px;
}

input::placeholder {
    color: #BDBDBD;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.455px;
}

#img {
    width: 70px;
    height: 70px;
    border-style: none;
    position: absolute;
    padding: 0 0 0 24px;
    background: #00000057;
    border-radius: 8px;
    padding-top: 23px;
}

#img > span {
    color: white;
}

hr {
    border-top: 0.1px #E0E0E0;
}

.div-information>h2 {
    color: #000;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

h2.h2 {
    color: #000;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.div-information>p {
    color: #828282;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.455px;
}

.p {
    color: #4F4F4F !important;
}

.btn-edit {
    width: 95.343px;
    height: 38px;
    border-radius: 12px;
    border: 1px solid #828282;
    color: #828282;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
    background: transparent;
}

.btn-edit:hover {
    background: #dadada;
}

.div {
    width: 275px;
}

.div>p {
    color: #BDBDBD;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.455px;
}

.div-2>p {
    color: #333;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.63px;
    padding: 10px 0;
}

p.change-photo {
    color: #828282;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.455px;
}

.foto-perfil-high {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.div-2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.div-edit {
    padding: 10px 33px 30px;
}

button.btn-save {
    border-radius: 8px;
    background: #2F80ED;
    width: 82px;
    height: 38px;
    border-style: none;
}

button.btn-save:hover {
    background: #225fae;
}

button.btn-save {
    color: #FFF;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
}


header {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 20px 0;
}

header>p {
    color: #828282;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.49px;
}